*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
body{
    background-color: #4658ff;
}
.nav{
    background-color: rgb(0, 0, 0);
}
.navbar{
    width: 100%;
}
.cont{
    background-color: rgb(154, 72, 72);
}
.pie{
    background-color: rgb(46, 147, 236);
}

.logo-clash{
    width: 600px;
    height: 600px;
}

.rey-img{
    width: 924px;
    height: 1045;
}

.video{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.mapa{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.texto{
    text-align: justify;
}

.link:hover{
    background-color: #292929;
}